header{
    box-shadow: 4px 4px 20px rgba(0, 0, 0);
}

.title-h1{
    font-family: sans-serif;
    text-shadow: 
    
    1px 1px 2px rgba(255, 255, 255,1),

}


.path-li{
    backdrop-filter: blur(1px) brightne(1.1);
    background: rgba(15, 37, 64,0.5);
    
    
    transition: 0.6s;
    hr{
        transition: all 0.5s ease;
        width: 0;
        transform: translateY(-0.3rem);
    }
    a{  
        transform: translateY(0.1rem);
        opacity: 0.8;
        
        transition: all 0.6s ease ;
    }
    &:hover{  
        transform: translateY(-0.3rem);
        background: rgba(15, 37, 64, 0.8);
        hr{
            transform: translateY(0.2rem);
            width: 80%;
           
        }
        a{
            opacity: 1;
            text-shadow:0 0 10px rgba(53, 133, 254,1);
            filter: brightness(1.1);
            
        }
    }
    
}
.at-present{
    background: rgb(38, 65, 97);
    color: rgb(255, 177, 27);
}



.HeaderCotact{
    button{
            scale: 1.0;
            transition: 0.5s;
        &:hover{
            scale: 1.1;
        }
    }
 .email-text{
    transition: 0.5s;
    transform: translateX(300px);
    opacity: 0;
 }
 .e-active{
    transform: translateX(0px);
    opacity: 1;
 }
}