header {
  box-shadow: 4px 4px 20px rgb(0, 0, 0);
}

.title-h1 {
  font-family: sans-serif;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.path-li {
  -webkit-backdrop-filter: blur(1px) brightne(1.1);
          backdrop-filter: blur(1px) brightne(1.1);
  background: rgba(15, 37, 64, 0.5);
  transition: 0.6s;
}
.path-li hr {
  transition: all 0.5s ease;
  width: 0;
  transform: translateY(-0.3rem);
}
.path-li a {
  transform: translateY(0.1rem);
  opacity: 0.8;
  transition: all 0.6s ease;
}
.path-li:hover {
  transform: translateY(-0.3rem);
  background: rgba(15, 37, 64, 0.8);
}
.path-li:hover hr {
  transform: translateY(0.2rem);
  width: 80%;
}
.path-li:hover a {
  opacity: 1;
  text-shadow: 0 0 10px rgb(53, 133, 254);
  filter: brightness(1.1);
}

.HeaderCotact button {
  scale: 1;
  transition: 0.5s;
}
.HeaderCotact button:hover {
  scale: 1.1;
}
.HeaderCotact .email-text {
  transition: 0.5s;
  transform: translateX(300px);
}
.HeaderCotact .e-active {
  transform: translateX(0px);
}

.begin span {
  position: relative;
  display: inline-block;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  top: 20px;
  font-size: 8rem;
  transform: rotateY(10deg) rotateX();
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 6px 0 #ccc, 0 9px 0 #ccc, 0 10px 10px rgba(0, 0, 0, 0.3);
  animation: animate 0.8s ease infinite alternate;
}
.begin h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
.begin h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
.begin h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
.begin h1 span:nth-child(5) {
  animation-delay: 0.5s;
}
.begin h1 span:nth-child(6) {
  animation-delay: 0.5s;
}

@keyframes animate {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 6px 0 #ccc, 0 9px 0 #ccc, 0 60px 30px rgba(0, 0, 0, 0.3);
  }
}
.skill-item {
  transition: 0.6s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 10px 5px rgba(0, 0, 0, 0.3);
}
.skill-item div {
  padding: 0.5rem 0;
  width: 8rem;
  height: 2rem;
  bottom: -2rem;
  overflow: hidden;
}
.skill-item div span {
  color: white;
  display: block;
  transform: translateY(-2rem);
  transition: 0.6s;
}
.skill-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.8);
}
.skill-item:hover span {
  transform: translateY(0rem);
}
.skill-item:hover img {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

.container {
  transition: 0.6s;
}
.container .p-item {
  position: relative;
  z-index: 0;
  background-color: transparent;
  transition: 0.6s;
  transition: height 1s;
}
.container .p-link {
  position: absolute;
  z-index: 1;
  bottom: 0rem;
  right: 0rem;
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}
.container .p-link button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.container:hover {
  transform: translate(0px, -10px);
}
.container:hover .p-item {
  box-shadow: 0 10px 20px black;
}

.expand {
  height: 50rem;
  border: 2px red solid;
}

.des_II {
  margin: 1rem 2rem;
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  overflow-y: overlay;
  scrollbar-width: none;
}
@media (max-width: 1023px) {
  .des_II {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
  }
}
@media (max-width: 768px) {
  .des_II {
    margin: 0.5rem 1rem;
    padding: 1rem 2rem;
  }
}
.des_II .des-img img {
  border-radius: 1.25rem;
  margin: auto;
  -o-object-fit: fill;
     object-fit: fill;
}
.des_II .des_II_link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.des_II .des_II_link a {
  position: relative;
  height: 2rem;
  width: 8rem;
  display: block;
  text-align: center;
  padding-top: 3px;
  transition: 0.5s;
  text-transform: uppercase;
  transform: 1s;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
}
.des_II .des_II_link a:hover {
  font-weight: 900;
  font-size: 1.1rem;
}
.des_II .des_II_link a:hover rect {
  stroke-dashoffset: 240;
}
.des_II .des_II_link a svg,
.des_II .des_II_link a svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  transition: 0.5s;
}
.des_II .des_II_link a rect {
  stroke-width: 2;
  stroke: rgb(255, 177, 27);
  stroke-dasharray: 2rem, 8rem;
  stroke-dashoffset: 0;
  animation: glowing 12s infinite linear;
  filter: brightness(1.2) drop-shadow(0 0 5px rgb(255, 177, 27)) drop-shadow(0 0 25px rgb(255, 177, 27));
}
.des_II .des_II_link a:nth-child(1) {
  color: rgb(255, 177, 27);
}
.des_II .des_II_link a:nth-child(2) {
  color: rgb(255, 99, 27);
}
.des_II .des_II_link a:nth-child(2) rect {
  stroke-width: 2;
  stroke: rgb(255, 99, 27);
  stroke-dasharray: 2rem, 8rem;
  stroke-dashoffset: 0;
  animation: glowing 12s infinite linear;
  filter: brightness(1.2) drop-shadow(0 0 5px rgb(255, 99, 27)) drop-shadow(0 0 25px rgb(255, 99, 27));
}

@keyframes glowing {
  0% {
    stroke-dashoffset: 480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes a_hover {
  0%, 100% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.1rem;
  }
}
.des_II_content {
  animation: appear 2s linear;
  animation-timeline: des_II;
  animation-range: enter 20% cover 10%;
}

@keyframes appear {
  from {
    opacity: 0;
    inset: 100% 100% 0 0;
  }
  to {
    opacity: 1;
    inset: 0 0 0 0;
  }
}
.feather {
  scale: 0.8;
  width: 75%;
  height: 75%;
  stroke-width: 2;
  stroke: rgb(102, 151, 255);
  transform: translateX(-10px);
  filter: drop-shadow(0 0 2px rgba(47, 113, 255, 0.2)) drop-shadow(0 0 5px rgba(47, 113, 255, 0.5)) drop-shadow(0 0 15px rgb(47, 113, 255));
}

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(15, 37, 64, 0.5);
  padding: 1rem 1rem;
}
.story h2,
.story h3 {
  color: rgb(105, 212, 255);
}
.story strong {
  color: rgb(255, 177, 27);
}
.story svg, .story rect {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
}
.story svg rect, .story rect rect {
  stroke-width: 4;
  stroke: rgba(255, 255, 255, 0.1);
}
.story .story-container {
  border: 0.1rem rgb(105, 212, 255) solid;
  box-shadow: 0 0 5px rgb(105, 212, 255), inset 0 0 5px rgb(105, 212, 255);
  padding: 0.5rem 0.5rem;
}
.story .story-container .story-item {
  position: relative;
  z-index: 1;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  font-size: 1.125rem;
  margin: 1rem 0.5rem;
  padding: 2rem 4rem;
  border-radius: 0;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(138, 138, 138, 0.1), rgba(0, 0, 0, 0.3));
  transition: 0.5s;
}
.story .story-container .story-item:hover {
  transform: translateY(-0.5rem);
}
.story .story-container .story-item:hover strong {
  text-shadow: 0 0 5px rgba(255, 177, 27, 0.5);
}

:root {
  --theme-color: rgb(15, 37, 64);
  --text-color: rgb(105, 212, 255);
  --text-color-2: rgb(255, 177, 27);
}

.APP {
  color: var(--text-color);
  overflow-y: overlay;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.bg {
  filter: blur(2px);
}

@media (min-width: 1536px) {
  .svg-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .svg-content svg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
  }
  .svg-content svg circle {
    position: absolute;
    top: 0;
    left: 0;
    stroke: rgb(105, 212, 255);
    stroke-width: 10;
    animation: glowing_bf 10s ease-in infinite;
  }
}
@keyframes glowing_bf {
  0%, 100% {
    r: 150;
    opacity: 1;
    filter: blur(20px) brightness(0.3) drop-shadow(0 0 30px rgb(42, 116, 255));
  }
  50% {
    r: 175;
    opacity: 1;
    filter: blur(30px) brightness(0.3) drop-shadow(0 0 15px rgb(105, 212, 255));
  }
}/*# sourceMappingURL=index.css.map */