@import '_header.scss';
@import '_begin.scss';
@import '_skill.scss';
@import '_project.scss';

:root {
    --theme-color: rgb(15, 37, 64);
    --text-color: rgb(105, 212, 255);
    --text-color-2: rgb(255, 177, 27);
    
}



.APP{
    
    color: var(--text-color);
    overflow-y: overlay;
    scrollbar-width: none;
    scroll-behavior: smooth;
    main{
        overflow-y: overlay;
        scrollbar-width: none;
        scroll-behavior: smooth;
        
    }
   
}



